.result-search {
    display: grid;
    height: 400px;

    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 200px;
    overflow-y: scroll;
}

.section-playlist {
    height: 30vh;
    overflow-y: scroll;
}

.table-playlist {
    margin: 20px;
    height: 200px;
    overflow-y: scroll;
}