@import './../../../../../../styles/variables/colors.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
        padding: 20px;
        cursor: pointer;
        // color: $fivth-color;
        color: rgba(255, 255, 255, 0.3);
    }

    .header-icons-right {
        display: flex;
        align-items: center;
    }
}