
// Cores
$primary-color: #00FFF5;
$secondary-color: #393E46;
$third-color: #00ADB5;
$fourth-color: #222831;
$fivth-color: #fbfbfbab;

// Cores para texto
$text-primary-color: #FFFFFF;

// Cores para Background
$bg-primary-color: #393e46;


